[Unit]
Description=Bridge mqtt.git.centos.org to dbus
After=network.target

[Service]
Type=dbus
BusName=org.centos.git.mqtt
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
ProtectSystem=full
ProtectHome=read-only
Restart=on-failure
RestartSec=5s

# NOTE: You should run this as the user (or edit the file)
#  /usr/local/bin/send-mqtt-to-dbus.py --dbus-config > /etc/dbus-1/system.d/org.centos.git.mqtt.conf

#User=<TRUSTEDUSERNAME>
Group=nobody
ExecStart=/usr/local/bin/send-mqtt-to-dbus.py --dbus-use-system-bus --mqtt-server-ca=~/.centos/ca.pem --mqtt-client-cert=~/.centos/client.pem --mqtt-client-key=~/.centos/client.key

[Install]
WantedBy=multi-user.target
