@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* 
  Koji styling
*/

html {
    min-width: 800px;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: small;
    font-family: "Liberation Sans", "Lucida Grande", "Luxi Sans", "Bitstream Vera Sans", helvetica, verdana, arial, sans-serif;
    color: #2e443d;
    background: #fff repeat;
}

/* Adapted from account services */
#mainNav {
    background-color #81c1ac;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    width: 90%;
}

#mainNav ul {
    padding: 0px;
    margin: 5px;
    list-style-type: none;
}

#mainNav ul li {
    background-color: #ecf5f3;
    color: #5eac93;
    display: block;
    /*float: center;*/
    padding: 0px;
    margin: 5px;
    border-style: solid;
    border-width: 0px;
    border-color: #81c1ac;
}

#mainNav ul li a {
    display: block;
    color: #5eac93;
    text-decoration: none;
    padding: 0.4em 1.5em;
    font-size: 0.77em;
}

#mainNav ul li a:hover {
    color: #fff;
    background-color: #5eac93;
    border-color: #81c1ac;
}

body#summary #mainNav li#summaryTab a,
body#tasks #mainNav li#tasksTab a,
body#tags #mainNav li#tagsTab a,
body#builds #mainNav li#buildsTab a,
body#packages #mainNav li#packagesTab a,
body#users #mainNav li#usersTab a,
body#hosts #mainNav li#hostsTab a,
body#buildtargets #mainNav li#buildtargetsTab a,
body#reports #mainNav li#reportsTab a,
body#search #mainNav li#searchTab a {
    background-color: #ecf5f3;
    color: #5eac93;
    border-color: #81c1ac;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn-primary,
.btn-outline-primary { color: #5eac93; background-color: #fff; border-color: #81c1ac; }
.btn-outline-primary:hover,
.btn-primary:hover { color: #fff; background-color: #5eac93; border-color: #81c1ac; }

a, .btn-link {
    /*text-decoration: none;*/
    color: #5eac93;
}

a:hover, .btn-link {
    text-decoration: underline;
    color: #81c1ac;
}

.text-info { color: #88d0ba; }
.text-success { color: #8fbcad; }

/* end adaptation */

#wrap {
    min-width: 750px;
    max-width: 1100px;
    /*margin: 0 25px 10px 25px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
    background: #fff;
}

#innerwrap {
    position: relative;
}

#header {
    width: 100%;
    height: 87px;
    clear: left;
}

#headerSearch {
    float: right;
    position: relative;
    display: inline-block;
    margin-right: 25px;
    margin-top: 45px;
}

#headerSearch input[type="text"] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid white;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow:  0 6px 10px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15) inset;
    padding: 3px;
}
#headerSearch input,
#headerSearch select {
    font-size: 12px;
}

#kojiLogo {
    /* Used only for the koji logo icon
    float: left;
    width: 49px;
    height: 40px; */
    display:inline-block;
    padding-top:8px;
}

div#content {
    margin: 0 20px;
    margin-top: 30px;
    clear: both;
}

p#footer {
    padding-top: 40px;
    margin-left: 15px;
    line-height: 1.5em;
    color: #999;
    font-size: xx-small;
    clear: both;
}

p#footer a {
    text-decoration: none;
}

#PoweredByKojiLogo {
    /* Used only for the powered by koji icon */
    float: right;
    border: 0px;
    height: 20px;
}

.hide {
    display: none;
}

.disabled {
    color: #808080;
}

h4 {
    color: #000;
    background-color: #f4f4f5;
    padding: 0.3em;
    margin: 0px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    -mox-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
}

h4 a {
    color: #81c1ac !important;
}

table {
    border-spacing: 0px;
}

th {
    font-weight: bold;
    vertical-align: text-top;
}

th, td {
    padding: 5px;
}

td.building {
    color: #cc0;
}

td.complete {
    color: #0c0;
}

td.deleted,
td.failed,
td.canceled {
    color: #c00;
}

td.false {
    color: #c00;
}

td.true {
    color: #0c0;
}

img.sort {
    /* used for up/down sort arrows*/
    vertical-align: baseline;
    width: 10px;
    height: 9px;
}

td.paginate {
    text-align: center;
}

form.pageJump {
    float: right;
    margin-left: 20px;
}

form.pageJump select {
    font-size: smaller;
}

div.dataHeader {
    font-weight: bold;
}

div.noPaginate {
    margin-bottom: 10px;
}

div.pageHeader {
    margin-bottom: 10px;
/*  font-weight: bold; */
    font-size: 1.5em;
    color: #000;
    background-color: #f4f4f5;
    padding: 0.3em;
    margin: 0px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    -mox-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
}

table.nested {
    float: left;
}

td.container {
    padding: 4px 0px;
    width: 100%;
}

table.nested th,
table.nested td {
    padding: 2px 4px;
}

div.toggle {
    padding: 6px;
}

td.tree {
    background-color: #fff;
}

.tree span.root {
    font-weight: bold;
    background-color: #fff;
}

.tree ul {
    padding-left: 2em;
    list-style: none;
    margin-top: 0em;
    margin-bottom: 0em;
}

.tree span.treeBranch {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    font-size: 1.2em;
}

.tree li.sibling > span.treeBranch {
    border-left-width: 0em;
}

.tree li.sibling {
    border-left: 1px solid #000;
}

.tree a {
    text-decoration: none;
}

.tree span.treeLabel {
    position: relative;
    top: 0.6em;
    margin-left: 1.2em;
    padding-left: 0.2em;
    background-color: #fff;
    font-size: 0.83em;
}

.tree > ul {
    padding-bottom: 0.6em;
}

.hidden {
    display: none;
}

.tree span.treeToggle {
    font-weight: bold;
}

.tree span.treeLink {
    font-size: smaller;
}

.adminLink {
    color: #000;
}

img.stateimg {
    margin-top: -6px;
    margin-bottom: -6px;
}

.charlist {
    text-align: center;
}

img.graphrow {
    background-color: #00f;
    vertical-align: bottom;
}

table.data-list {
    width: 100%;
}

table.data-list td {
    vertical-align: text-top;
}

tr.list-header {
    background-color: #fff;
}

tr.list-header th {
    background-color: #ddd;
}

tr.list-header th:first-child {
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
}

tr.list-header th:last-child {
    -moz-border-radius-topright: 1em;
    -webkit-border-top-right-radius: 1em;
}

tr.row-odd {
    background-color: #fff;
}

tr.row-odd td {
    border-bottom: 1px solid #eee;
}

tr.row-even {
    background-color: #eee;
}

tr.row-even td {
    border-bottom: 1px solid #fff;
}

tr.row-odd td:first-child,
tr.row-even td:first-child {
    border-left: 1px solid #eee;
}

tr.row-odd td:last-child,
tr.row-even td:last-child {
    border-right: 1px solid #eee;
}

tr.row-even td.tree {
    background-color: #eee;
}

tr.row-even td.tree span.treeLabel {
    background-color: #eee;
}

.taskfree, .repoinit {
    color: #30c;
}

.taskopen {
    color: #f60;
}

.taskclosed, .repoready {
    color: #0c0;
}

.taskcanceled, .repoexpired {
    color: #c90;
}

.taskassigned {
    color: #c0f;
}

.taskfailed, .repodeleted, .repoproblem {
    color: #c00;
}

a.help {
    text-decoration: underline;
}

abbr {
    cursor: help;
}

.changelog, .rpmheader, .usertext {
    font-family: monospace;
    font-size: medium;
    white-space: pre;
}

#headerHelp {
    float: right;
    margin: 15px 10px 0 0;
}

.filterlist {
    font-size: smaller;
}

span#loginInfo {
    background-color: #f4f4f5;
    font-weight: bold;
    /*margin: 40px;*/
    margin-top: 8px;
    margin-right: 25px;
    padding: 3px 15px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    -mox-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
}

.smaller {
    font-size: smaller;
}

.error {
    color: red;
}

